<h1>Matching</h1>
<button type="button" name="button" class="btn btn-primary btn-lg" ng-click="showLists = !showLists">Matching</button>
<div class="sponsor_list" ng-show="showLists">
  <table class="table table-condensed table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Sponsors <button class="btn btn-xs btn-info" ng-click="order = 'name'">Order by</button></th>
      </tr>
    </thead>
    <tbody class="db-container">
      <tr ng-repeat="sponsor in sponsors | orderBy: order" >
        <td class="name"> {{sponsor.name}}
          <div class="priority_list" ng-show="showDetails">
            <p>Priority list: {{sponsor.priority_list}}</p>
          </div>
          <div class="participants_number" ng-show="showDetails">
            <p>Participants number: {{sponsor.participants_number}}</p>
          </div>
        </td>
        <td class="accordion"><a href="#" ng-click="showDetails = !showDetails">Show more</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="student_list" ng-show="showLists">
  <table class="table table-condensed table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Students <button class="btn btn-xs btn-info" ng-click="order = 'name'">Order by</button></th>
      </tr>
    </thead>
    <tbody class="db-container">
      <tr ng-repeat="student in students | orderBy: order" >
        <td class="name"> {{student.name}}
          <div class="priority_list" ng-show="showDetails">
            <p>Priority list: {{student.priority_list}}</p>
          </div>
        </td>
        <td class="accordion"><a href="#" ng-click="showDetails = !showDetails">Show more</a></td>
      </tr>
    </tbody>
  </table>
</div>
